div(class="card w-3/4 m-auto col-span-2")
  div(class="card-title") Input

  form(id="imitator-form")
    div(class="mb-4")
      label(for="models", class="label") Models
      //- Benchmark toggle button
      label(for="benchmark-models-toggle", class="flex items-center cursor-pointer mb-4")
        div(class="relative")
          input(id="benchmark-models-toggle", type="checkbox", class="hidden")
          div(class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner")
          div(class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0")
        div(class="ml-3 text-gray-700 font-medium") From benchmarks

      input(name="models", type="file", id="models", placeholder="~/my-model.imi", required, accept=".imi", multiple, class="input w-full")
      select(name="models_benchmark", id="models", multiple, required, disabled, class="select w-full leading-tight hidden")
        each files, name in benchmarks.models
          optgroup(label=`${name}`)
            each model in files
              option(value=`${name}/${model}`, class=`${name}`) #{model}

    div(class="mb-4")
      label(for="property", class="label") Property
      //- Benchmark toggle button
      label(for="benchmark-properties-toggle", class="flex items-center cursor-pointer mb-4")
        div(class="relative")
          input(id="benchmark-properties-toggle", type="checkbox", class="hidden")
          div(class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner")
          div(class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0")
        div(class="ml-3 text-gray-700 font-medium") From benchmarks

      input(name="property", type="file", id="property", placeholder="~/my-property.imiprop", accept=".imiprop", class="input w-full")
      select(name="properties_benchmark", id="property", disabled, class="select w-full leading-tight hidden")
        each files, name in benchmarks.properties
          optgroup(label=`${name}`)
            each property in files
              option(value=`${name}/${property}`, class=`${name}`) #{property}

    div(class="mb-4")
      label(for="options", class="label") Options
      input(name="options", type="text", id="options", placeholder="-depth-limit=10, -statistics", class="input w-full")

    div(class="mb-4")
      label(for="version", class="label") Imitator Version
      select(name="version", id="version", class="select w-full leading-tight")
        each version in versions
          option(value=version) #{version}

    div(class="pt-6")
      button(id="run-artifact-button", type="submit", class="submit-button w-full") Run
