extends layout

block content
  div( class="w-auto mx-auto rounded shadow-lg border-t-8 border-gray-800 p-8 my-4")
    div(class="mb-4 font-light tracking-widest text-2xl") Results

    div(class="py-2")
      span(class="mr-2  font-bold") Models:
      each model in result.models
        span(class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-1")= model

    div(class="py-2")
      span(class="mr-2 font-bold") Property:
      span(class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700") #{result.property}

    div(class="py-2")
      span(class="mr-2 font-bold") Options:
      each option in result.options
        span(class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-1")= option

    div(class="py-2")
      span(class="font-bold") Outputs:

      div(id="tabs", class="py-4")
        div(class="tab-slider--nav")
          ul(class="tab-slider--tabs")
            each output, index in result.outputs
              li(class="tab-slider--trigger", rel=`tabs-${index}`) #{output.prefix}

        div(class="tab-slider--container")
          each output, index in result.outputs
            div(id=`tabs-${index}`, class="tab-slider--body")
              pre(class="mt-4 flex flex-col overflow-auto max-w-6xl h-screen/3 text-sm border border-gray-700 p-1").
                #{output.stdout}

    div(class="py-2")
      span(class="mr-2 font-bold") Generated files:
      each output in result.outputs
        each file in output.files
          span(onclick=`downloadFile('${result.identifier}', '${file}');`, class="cursor-pointer inline-block hover:bg-gray-700 hover:text-white bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-1")= file

    div(class="pt-6")
      button(onclick=`downloadFile('${result.identifier}', '${result.file}');`, class="text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black") Download All

