extends layout

block content
  form(action="/download", method="post", class="w-auto mx-auto rounded shadow-lg border-t-8 border-gray-800 p-8 my-4")
    div(class="mb-4 font-light tracking-widest text-2xl") Results

    div(class="py-2")
      span(class="mr-2  font-bold") Model:
      span(class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700") #{result.model}

    div(class="py-2")
      span(class="mr-2 font-bold") Property:
      span(class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700") #{result.property}

    div(class="py-2")
      span(class="mr-2 font-bold") Options:
      each option in result.options
        span(class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-1")= option

    div(class="py-2")
      span(class="font-bold") Output:
      pre(class="mt-4 flex flex-col overflow-y-scroll h-screen/3 text-sm").
        #{result.output}

    div(class="pt-6")
      input(type="hidden", name="file", value=result.file)
      button(type="submit", class="text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black") Download

